*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    height:100vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.header{
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}


.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(5.5);
}
.foreground{
    transform: translateZ(-20px) scale(3.5);
}

h1{
    font-size: 90px;
    position: absolute;
    top: 100px;
    letter-spacing: 4px;
    color: white;
    transition: 500ms ease;
}

h1:hover{
   font-size: 95px;
   cursor: pointer;
   text-shadow: 0 0 5px black;
}

section{
    background-color: rgb(45,45,45);
    color: white;
    width: 100%;
}
.secHead{
    margin: 20px;
    padding: 20px;
    font-size: 40px;
}

.text{
    padding: 40px;
}



.bg{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background-image: url(/img/cat.jpg);
    
}
.bg2{
    background-image: url(/img/elephant.jpg);
    
}
.bg3{
    background-image: url(/img/sunset.jpg);
}
.bg4{
    background-image: url(/img/tiger.jpg);
}
.bg5{
    background-image: url(/img/polynesia.jpg);
}

.desc{
    position: relative;
    background-color: white;
    color: black;
    font-size: 35px;
    padding: 10px;
    border-radius: 10px;
    transition: 600ms ease-in-out;
}
.desc::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 0px;
    height: 3px;
    bottom: 10px;
    left: 10px;
    /* padding: 0 10px; */
    transition: 700ms ease-in-out;
}
.desc:hover::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 85%;
    height: 3px;
    bottom: 10px;
    left: 10px;
}

.desc:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

footer{
    background-color: #676767;
    color: white;
    width: 100%;
    padding: 10px 0;
}
footer p{
    width: 100%;
    text-align: center;
}